.full-width-media .markdown-preview-view img:not(.link-favicon):not(.emoji):not([width]),
.full-width-media .markdown-preview-view video,
.full-width-media .markdown-source-view img:not(.link-favicon):not(.emoji):not([width]),
.full-width-media .markdown-source-view video {
    width: auto !important;
    margin-top: 0px !important;
    margin-bottom: 4px !important;
}



